<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <style>
      p {
        color: red;
      }

      input {
        display: block;
        padding: 5px;
        margin-bottom: 2px;
      }
    </style>
  </head>
  <body>
    <form action="/auth/login" method="POST">
      <input type="text" placeholder="username" name="username" />
      <input type="password" placeholder="password" name="password" />
      <input type="submit" value="send" />
    </form>
    <% if ( error ) { %>
    <p><%= error.message %></p>
    <% } %>
  </body>
</html>
